<div class="flex self-stretch items-start justify-start">
  <div class="flex space-x-96 items-start justify-start px-40 py-4 bg-blue-700">
    <div class="flex space-x-8 items-start justify-start">
      <div class="flex space-x-2.5 items-start justify-start">
        <div style="background-image: url('/fimgs/bg-ba0ff9f68562228c9b12b0282abccd0d8c6df039');background-size:100% 100%;background-repeat:no-repeat;" />
        <div class="bg-white" />
      </div>
      <div class="flex space-x-8 items-center justify-start">
        <div class="flex items-center justify-start">
          <div class="text-sm font-medium leading-tight text-white">About</div>
        </div>
        <div class="flex items-center justify-start">
          <div class="text-sm font-medium leading-tight text-white">
            Features
          </div>
        </div>
        <div class="flex items-center justify-start">
          <div class="text-sm font-medium leading-tight text-white">
            Testimoni
          </div>
        </div>
        <div class="flex items-center justify-start">
          <div class="text-sm font-medium leading-tight text-white">Faq</div>
        </div>
      </div>
    </div>
    <div class="flex space-x-10 items-center justify-center">
      <div class="flex items-center justify-start">
        <div class="text-sm font-medium leading-tight text-white">Login</div>
      </div>
      <div class="flex items-center justify-start px-5 py-2.5 bg-orange-500 rounded-md">
        <div class="text-sm font-medium leading-tight text-center text-white">
          Register
        </div>
      </div>
    </div>
  </div>
</div>