<>
  <effect meta={{}} run={async () => {}} />
  <div class={`flex self-stretch flex-col items-start justify-start bg-white`}>
    <div class={`flex flex-1 self-stretch flex-col items-start justify-start`}>
      <div
        class={`flex items-center justify-between px-6 py-2 bg-blue-500`}
        style={`width: 1440px; min-width: 1440px; max-width: 1440px; height: 64px; min-height: 64px; max-height: 64px;`}
      >
        <img
          src="/fimgs/22_480.x1.png"
          class="flex flex-col items-start justify-start"
          style="width: 167.46px; min-width: 167.46px; max-width: 167.46px; height: 48px; min-height: 48px; max-height: 48px;"
        />
        <div class={`flex self-stretch items-center justify-start`}>
          <div class={`flex space-x-4 items-start justify-start`}>
            <div class="flex items-start justify-start p-2.5">
              <a class="text-base text-center text-white">About</a>
            </div>
            <div class="flex items-start justify-start p-2.5">
              <a class="text-base text-center text-white">Features</a>
            </div>
            <div class="flex items-start justify-start p-2.5">
              <a class="text-base text-center text-white">Testimoni</a>
            </div>
            <div class={`flex items-start justify-start p-2.5`}>
              <a class={`text-base text-center text-white`}>FAQ</a>
            </div>
            <div class={`flex items-start justify-start p-2.5`}>
              <button class={`text-base text-center text-white`}>Login</button>
            </div>
            <div
              class={`flex items-center justify-start px-4 py-2 bg-orange-500 rounded`}
            >
              <button class={`text-base text-white`}>Register</button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col space-y-16 items-center justify-center p-8 bg-blue-500"
        style="width: 1440px; min-width: 1440px; max-width: 1440px; height: 1120px; min-height: 1120px; max-height: 1120px;"
      >
        <div class="flex flex-col space-y-10 items-center justify-center">
          <div class="flex flex-col space-y-3.5 items-center justify-center">
            <div class="text-5xl font-extrabold text-center text-white">
              Organize It All
              <br />
              With WannaBe
            </div>
            <div class="text-sm text-white">
              Manage Your Task Organizer All Your to do List an Project
            </div>
          </div>
          <div class="flex space-x-9 items-start justify-start">
            <div class="flex items-center justify-center px-5 py-3 bg-orange-500 rounded">
              <div class="text-lg text-gray-50">Get Started</div>
            </div>
            <div class="flex items-center justify-center px-4 py-3 rounded">
              <div class="text-lg text-white">Try For Demo</div>
            </div>
          </div>
        </div>
        <img
          src="/fimgs/I22_504_22_501.x1.png"
          style="width: 1268.58px; min-width: 1268.58px; max-width: 1268.58px; height: 765px; min-height: 765px; max-height: 765px;background-image: url('/fimgs/bg-26974c9689857f97f546a5a906ca02308619dcac');background-size:100% 100%;background-repeat:no-repeat;"
        />
      </div>
      <div
        class={`flex space-x-48 items-center justify-center px-40 py-16 bg-white`}
        style={`width: 1440px; min-width: 1440px; max-width: 1440px; height: 226px; min-height: 226px; max-height: 226px;`}
      >
        <div class="flex flex-col space-y-2 items-start justify-start">
          <div class="text-5xl font-extrabold leading-10 text-gray-900">
            700k
          </div>
          <div class="text-base leading-relaxed text-gray-900">
            Google Play Downloaded
          </div>
        </div>
        <div class="flex flex-col space-y-2 items-start justify-start">
          <div class="text-5xl font-extrabold leading-10 text-gray-900">
            600k
          </div>
          <div class="text-base leading-relaxed text-gray-900">
            App Store Downloaded
          </div>
        </div>
        <div class="flex flex-col space-y-2 items-start justify-start">
          <div class="text-5xl font-extrabold leading-10 text-gray-900">
            800K
          </div>
          <div class="text-base leading-relaxed text-gray-900">
            Website App Uses
          </div>
        </div>
      </div>
      <div
        class={`flex space-x-8 items-center justify-center px-40 py-16 bg-white`}
      >
        <div class="flex flex-col space-y-8 items-start justify-start px-12">
          <div class="text-4xl font-extrabold leading-10 text-gray-900">
            Wanna Be
          </div>
          <div class="text-lg leading-loose text-gray-900">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Condimentum
            diam orci pretium a pharetra, feugiat cursus. Dictumst risus, sem
            egestas odio cras adipiscing vulputate. Nisi, risus in suscipit non.
            Non commodo volutpat, pharetra, vel.
          </div>
          <div class="flex space-x-2 items-center justify-start">
            <div class="text-base font-medium leading-normal text-orange-500">
              Explore More
            </div>
            <img
              src="/fimgs/25_402.x1.png"
              style="width: 24px; min-width: 24px; max-width: 24px; height: 14px; min-height: 14px; max-height: 14px;"
            />
          </div>
        </div>
        <img
          src="/fimgs/25_393.x1.png"
          class={`rounded-lg`}
          style={`width: 552px; min-width: 552px; max-width: 552px; height: 583px; min-height: 583px; max-height: 583px;background-image: url('/fimgs/bg-6c4f6ce01a76c72b501278af02ea71f9f24a153b');background-size:100% 100%;background-repeat:no-repeat;`}
        />
      </div>
      <div
        class={`flex flex-col space-y-28 items-center justify-start px-12 py-2.5 bg-white`}
        style={`width: 1440px; min-width: 1440px; max-width: 1440px; height: 556px; min-height: 556px; max-height: 556px;`}
      >
        <div
          class="flex items-start justify-center p-12"
          style="width: 445px; min-width: 445px; max-width: 445px; height: 196px; min-height: 196px; max-height: 196px;"
        >
          <div class="text-4xl font-extrabold text-center">
            Best Features We
            <br />
            Provide
          </div>
        </div>
        <div
          class="flex space-x-10 items-center justify-center"
          style="width: 1176px; min-width: 1176px; max-width: 1176px; height: 230px; min-height: 230px; max-height: 230px;"
        >
          <div class="flex flex-col space-y-5 items-center justify-start">
            <img
              src="/fimgs/I22_593_22_516.x1.png"
              class="rounded-full"
              style="width: 80px; min-width: 80px; max-width: 80px; height: 80px; min-height: 80px; max-height: 80px;background-image: url('/fimgs/bg-453c8dc0a74b464e3f7f9750542d2e40ffd6ef74');background-size:100% 100%;background-repeat:no-repeat;"
            />
            <div class="text-2xl font-semibold leading-loose text-center">
              Web Based
            </div>
            <div class="text-base leading-relaxed text-center text-gray-900">
              Lorem ipsum dolor sit amet, conse adipiscing elit. Mattis et sed
              nam sem tellus erat.
            </div>
          </div>
          <div class="flex flex-col space-y-5 items-center justify-start">
            <img
              src="/fimgs/I22_593_22_521.x1.png"
              class="rounded-full"
              style="width: 80px; min-width: 80px; max-width: 80px; height: 80px; min-height: 80px; max-height: 80px;background-image: url('/fimgs/bg-7035281795fce1c3e34439f6b79959873922b64b');background-size:100% 100%;background-repeat:no-repeat;"
            />
            <div class="text-2xl font-semibold leading-loose text-center">
              Add Activities
            </div>
            <div class="text-base leading-relaxed text-center text-gray-900">
              Lorem ipsum dolor sit amet, conse adipiscing elit. Mattis et sed
              nam sem tellus erat.
            </div>
          </div>
          <div class="flex flex-col space-y-5 items-center justify-start">
            <img
              src="/fimgs/I22_593_22_525.x1.png"
              class="rounded-full"
              style="width: 80px; min-width: 80px; max-width: 80px; height: 80px; min-height: 80px; max-height: 80px;background-image: url('/fimgs/bg-73e12f83e3a3931556e9baa7fc6dcb2684f2f0c7');background-size:100% 100%;background-repeat:no-repeat;"
            />
            <div class="text-2xl font-semibold leading-loose text-center">
              Activity Report
            </div>
            <div class="text-base leading-relaxed text-center text-gray-900">
              Lorem ipsum dolor sit amet, conse adipiscing elit. Mattis et sed
              nam sem tellus erat.
            </div>
          </div>
          <div class="flex flex-col space-y-5 items-center justify-start">
            <img
              src="/fimgs/I22_593_22_529.x1.png"
              class="rounded-full"
              style="width: 80px; min-width: 80px; max-width: 80px; height: 80px; min-height: 80px; max-height: 80px;background-image: url('/fimgs/bg-9a131c6c718c072cf3d34f15d0c4c2edd2a727c7');background-size:100% 100%;background-repeat:no-repeat;"
            />
            <div class="text-2xl font-semibold leading-loose text-center">
              To Do List
            </div>
            <div class="text-base leading-relaxed text-center text-gray-900">
              Lorem ipsum dolor sit amet, conse adipiscing elit. Mattis et sed
              nam sem tellus erat.
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col space-y-16 items-center justify-start px-12 py-2.5 bg-white"
        style="width: 1440px; min-width: 1440px; max-width: 1440px; height: 497px; min-height: 497px; max-height: 497px;"
      >
        <div class="flex flex-col space-y-2.5 items-center justify-start py-12">
          <div class="text-4xl font-extrabold text-center">Our Users Speak</div>
          <div class="text-lg leading-loose text-center text-gray-900">
            Over 1.5 billion users using Wanna Be Apps.
          </div>
        </div>
        <div
          class="flex space-x-16 items-start justify-start"
          style="width: 950px; min-width: 950px; max-width: 950px; height: 216px; min-height: 216px; max-height: 216px;"
        >
          <div class="flex flex-col space-y-5 items-center justify-start">
            <img
              src="/fimgs/I22_713_22_665.x1.png"
              class="rounded-full"
              style="width: 72px; min-width: 72px; max-width: 72px; height: 72px; min-height: 72px; max-height: 72px;background-image: url('/fimgs/bg-c3feb9d78e60046a9ba063d38c3f0f091a6348b3');background-size:100% 100%;background-repeat:no-repeat;"
            />
            <div class="text-2xl font-semibold leading-loose text-center text-gray-900">
              Jane Cooper
            </div>
            <div class="text-sm leading-normal text-center text-gray-900">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor
              neque sed imperdiet nibh lectus feugiat nunc sem.
            </div>
          </div>
          <div class="flex flex-col space-y-5 items-center justify-start">
            <img
              src="/fimgs/I22_713_22_669.x1.png"
              class="rounded-full"
              style="width: 72px; min-width: 72px; max-width: 72px; height: 72px; min-height: 72px; max-height: 72px;background-image: url('/fimgs/bg-c3feb9d78e60046a9ba063d38c3f0f091a6348b3');background-size:100% 100%;background-repeat:no-repeat;"
            />
            <div class="text-2xl font-semibold leading-loose text-center text-gray-900">
              Jane Cooper
            </div>
            <div class="text-sm leading-normal text-center text-gray-900">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor
              neque sed imperdiet nibh lectus feugiat nunc sem.
            </div>
          </div>
          <div class="flex flex-col space-y-5 items-center justify-start">
            <img
              src="/fimgs/I22_713_22_673.x1.png"
              class="rounded-full"
              style="width: 72px; min-width: 72px; max-width: 72px; height: 72px; min-height: 72px; max-height: 72px;background-image: url('/fimgs/bg-c3feb9d78e60046a9ba063d38c3f0f091a6348b3');background-size:100% 100%;background-repeat:no-repeat;"
            />
            <div class="text-2xl font-semibold leading-loose text-center text-gray-900">
              Jane Cooper
            </div>
            <div class="text-sm leading-normal text-center text-gray-900">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor
              neque sed imperdiet nibh lectus feugiat nunc sem.
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center justify-start px-40 py-16 bg-white">
        <div class="flex justify-center">
          <div class="flex space-x-28 items-start justify-start pl-44 pr-48 py-12 bg-blue-700 rounded-2xl">
            <img
              src="/fimgs/I22_738_22_733.x1.png"
              style="width: 197.42px; min-width: 197.42px; max-width: 197.42px; height: 160px; min-height: 160px; max-height: 160px;background-image: url('/fimgs/bg-e2f18f1baef252f2acd8b1bbe01a98abcd929eac');background-size:100% 100%;background-repeat:no-repeat;"
            />
            <div class="flex flex-col space-y-8 items-start justify-start">
              <div class="text-4xl font-extrabold leading-10 text-white">
                Achieve peace of mind with Wanna Be
              </div>
              <div class="flex items-center justify-start px-8 py-3 bg-orange-500 rounded-md">
                <div class="text-base font-medium leading-normal text-center text-white">
                  Get Started
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-center px-24 py-0.5 bg-blue-500"
        style="width: 1440px; min-width: 1440px; max-width: 1440px; height: 52px; min-height: 52px; max-height: 52px;"
      >
        <div
          class="flex items-center justify-between"
          style="width: 1179px; min-width: 1179px; max-width: 1179px; height: 48px; min-height: 48px; max-height: 48px;"
        >
          <img
            src="/fimgs/22_1419.x1.png"
            class="flex space-x-2 items-center justify-center p-2.5"
            style="width: 167.46px; min-width: 167.46px; max-width: 167.46px; height: 48px; min-height: 48px; max-height: 48px;"
          />
          <div class="text-sm leading-normal text-white">
            © 2021 Wanna Be. All rights reserved
          </div>
        </div>
      </div>
    </div>
  </div>
</>