<>
  <effect meta={{}} run={async () => {}} />
  <>
    <div class="flex items-center justify-center px-5 py-1 bg-blue-500">
      <div class="flex flex-1 items-center justify-between">
        <img
          src="/fimgs/I32_278_22_1442.x1.png"
          class="flex flex-col items-start justify-start"
          style="width: 167.46px; min-width: 167.46px; max-width: 167.46px; height: 48px; min-height: 48px; max-height: 48px;"
        />
        <img
          src="/fimgs/I32_278_22_1615.x1.png"
          style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
        />
      </div>
    </div>
    <div class="flex items-start justify-center p-2.5 bg-blue-500">
      <div class="flex flex-col space-y-10 items-center justify-center">
        <div class="flex flex-col space-y-3.5 items-center justify-center">
          <div class="text-4xl font-extrabold text-center text-white">
            Organize It All
            <br />
            With WannaBe
          </div>
          <div class="text-xs text-white">
            Manage Your Task Organizer All Your to do List an Project
          </div>
        </div>
        <div class="flex space-x-9 items-start justify-start">
          <div class="flex items-center justify-center px-5 py-3 bg-orange-500 rounded">
            <div class="text-lg text-gray-50">Get Started</div>
          </div>
          <div class="flex items-center justify-center px-4 py-3 rounded">
            <div class="text-lg text-white">Try For Demo</div>
          </div>
        </div>
        <img
          src="/fimgs/I32_323_32_318.x1.png"
          style="width: 386px; min-width: 386px; max-width: 386px; height: 230px; min-height: 230px; max-height: 230px;background-image: url('/fimgs/bg-26974c9689857f97f546a5a906ca02308619dcac');background-size:100% 100%;background-repeat:no-repeat;"
        />
      </div>
    </div>
    <div class="flex flex-col items-center justify-center py-12 bg-white">
      <div class="flex flex-col space-y-8 items-center justify-start">
        <div class="flex flex-col items-center justify-start">
          <div class="text-2xl font-extrabold leading-10 text-gray-900">
            700K
          </div>
          <div class="text-sm leading-relaxed text-gray-900">
            Google Play Downloaded
          </div>
        </div>
        <div class="flex flex-col items-center justify-start">
          <div class="text-2xl font-extrabold leading-10 text-gray-900">
            600K
          </div>
          <div class="text-sm leading-relaxed text-gray-900">
            App Store Downloaded
          </div>
        </div>
        <div class="flex flex-col items-center justify-start">
          <div class="text-2xl font-extrabold leading-10 text-gray-900">
            800K
          </div>
          <div class="text-sm leading-relaxed text-gray-900">
            Website App Uses
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center py-12 bg-white">
      <div
        class="flex flex-col space-y-8 items-center justify-start"
        style="width: 354px; min-width: 354px; max-width: 354px; height: 669px; min-height: 669px; max-height: 669px;"
      >
        <div
          class="flex flex-col space-y-6 items-start justify-start"
          style="width: 319px; min-width: 319px; max-width: 319px; height: 266px; min-height: 266px; max-height: 266px;"
        >
          <div class={`text-2xl font-extrabold leading-10 text-gray-900 mb-5`}>
            Wanna Be
          </div>
          <div class={`text-sm leading-relaxed text-gray-900 mb-5`}>
            Google Play DownloadedLorem ipsum dolor sit amet, consectet
            adipiscing elit. Condimentum diam orci pretium a pharetra, feugiat
            cursus. Dictumst risus, sem egestas odio cras adipiscing vulputate.
            Nisi, risus in suscipit non. Non commodo volutpat, pharetra, vel.
          </div>
          <div class={`flex space-x-2 items-center justify-start`}>
            <div class="text-base font-medium leading-normal text-orange-500">
              Explore More
            </div>
            <div />
          </div>
        </div>
        <img
          src="/fimgs/I32_442_32_440.x1.png"
          style="width: 354px; min-width: 354px; max-width: 354px; height: 373px; min-height: 373px; max-height: 373px;background-image: url('/fimgs/bg-6c4f6ce01a76c72b501278af02ea71f9f24a153b');background-size:100% 100%;background-repeat:no-repeat;"
        />
      </div>
    </div>
    <div
      class={`flex flex-col space-y-12 items-center justify-start p-12 bg-white`}
    >
      <div class="flex items-start justify-start p-2.5">
        <div class="text-2xl font-extrabold text-center">
          Best Features We
          <br />
          Provide
        </div>
      </div>
      <div class={`flex flex-col space-y-10 items-center justify-center`}>
        <div class={`flex flex-col space-y-5 items-center justify-start`}>
          <img
            src="/fimgs/I32_493_32_477.x1.png"
            class="rounded-full"
            style="width: 80px; min-width: 80px; max-width: 80px; height: 80px; min-height: 80px; max-height: 80px;background-image: url('/fimgs/bg-453c8dc0a74b464e3f7f9750542d2e40ffd6ef74');background-size:100% 100%;background-repeat:no-repeat;"
          />
          <div class="text-xl font-semibold leading-loose text-center">
            Web Based
          </div>
          <div class="text-sm leading-relaxed text-center text-gray-900">
            Lorem ipsum dolor sit amet, conse adipiscing elit. Mattis et sed nam
            sem tellus erat.
          </div>
        </div>
        <div class="flex flex-col space-y-5 items-center justify-start">
          <img
            src="/fimgs/I32_493_32_481.x1.png"
            class="rounded-full"
            style="width: 80px; min-width: 80px; max-width: 80px; height: 80px; min-height: 80px; max-height: 80px;background-image: url('/fimgs/bg-7035281795fce1c3e34439f6b79959873922b64b');background-size:100% 100%;background-repeat:no-repeat;"
          />
          <div class="text-xl font-semibold leading-loose text-center">
            Add Activities
          </div>
          <div class="text-sm leading-relaxed text-center text-gray-900">
            Lorem ipsum dolor sit amet, conse adipiscing elit. Mattis et sed nam
            sem tellus erat.
          </div>
        </div>
        <div class="flex flex-col space-y-5 items-center justify-start">
          <img
            src="/fimgs/I32_493_32_485.x1.png"
            class="rounded-full"
            style="width: 80px; min-width: 80px; max-width: 80px; height: 80px; min-height: 80px; max-height: 80px;background-image: url('/fimgs/bg-73e12f83e3a3931556e9baa7fc6dcb2684f2f0c7');background-size:100% 100%;background-repeat:no-repeat;"
          />
          <div class="text-xl font-semibold leading-loose text-center">
            Activity Report
          </div>
          <div class="text-sm leading-relaxed text-center text-gray-900">
            Lorem ipsum dolor sit amet, conse adipiscing elit. Mattis et sed nam
            sem tellus erat.
          </div>
        </div>
        <div class="flex flex-col space-y-5 items-center justify-start">
          <img
            src="/fimgs/I32_493_32_489.x1.png"
            class="rounded-full"
            style="width: 80px; min-width: 80px; max-width: 80px; height: 80px; min-height: 80px; max-height: 80px;background-image: url('/fimgs/bg-9a131c6c718c072cf3d34f15d0c4c2edd2a727c7');background-size:100% 100%;background-repeat:no-repeat;"
          />
          <div class="text-xl font-semibold leading-loose text-center">
            To Do List
          </div>
          <div class="text-sm leading-relaxed text-center text-gray-900">
            Lorem ipsum dolor sit amet, conse adipiscing elit. Mattis et sed nam
            sem tellus erat.
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col space-y-12 items-center justify-start p-12 bg-blueGray-100">
      <div class="flex flex-col space-y-2.5 items-center justify-start">
        <div class="text-2xl font-extrabold text-center">Our Users Speak</div>
        <div class="text-sm leading-loose text-center text-gray-900">
          Over 1.5 billion users using Wanna Be Apps.
        </div>
      </div>
      <div class="flex flex-col space-y-16 items-start justify-start">
        <div class="flex flex-col space-y-5 items-center justify-start">
          <img
            src="/fimgs/I32_605_32_536.x1.png"
            class="rounded-full"
            style="width: 72px; min-width: 72px; max-width: 72px; height: 72px; min-height: 72px; max-height: 72px;background-image: url('/fimgs/bg-c3feb9d78e60046a9ba063d38c3f0f091a6348b3');background-size:100% 100%;background-repeat:no-repeat;"
          />
          <div class="text-xl font-semibold leading-loose text-center text-gray-900">
            Jane Cooper
          </div>
          <div class="text-sm leading-normal text-center text-gray-900">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor
            neque sed imperdiet nibh lectus feugiat nunc sem.
          </div>
        </div>
        <div class="flex flex-col space-y-5 items-center justify-start">
          <img
            src="/fimgs/I32_605_32_540.x1.png"
            class="rounded-full"
            style="width: 72px; min-width: 72px; max-width: 72px; height: 72px; min-height: 72px; max-height: 72px;background-image: url('/fimgs/bg-c3feb9d78e60046a9ba063d38c3f0f091a6348b3');background-size:100% 100%;background-repeat:no-repeat;"
          />
          <div class="text-xl font-semibold leading-loose text-center text-gray-900">
            Jane Cooper
          </div>
          <div class="text-sm leading-normal text-center text-gray-900">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor
            neque sed imperdiet nibh lectus feugiat nunc sem.
          </div>
        </div>
        <div class="flex flex-col space-y-5 items-center justify-start">
          <img
            src="/fimgs/I32_605_32_544.x1.png"
            class="rounded-full"
            style="width: 72px; min-width: 72px; max-width: 72px; height: 72px; min-height: 72px; max-height: 72px;background-image: url('/fimgs/bg-c3feb9d78e60046a9ba063d38c3f0f091a6348b3');background-size:100% 100%;background-repeat:no-repeat;"
          />
          <div class="text-xl font-semibold leading-loose text-center text-gray-900">
            Jane Cooper
          </div>
          <div class="text-sm leading-normal text-center text-gray-900">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor
            neque sed imperdiet nibh lectus feugiat nunc sem.
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center justify-start px-40 py-16 bg-blue-700">
      <div
        class="flex flex-col space-y-8 items-center justify-start"
        style="width: 286px; min-width: 286px; max-width: 286px; height: 302px; min-height: 302px; max-height: 302px;"
      >
        <img
          src="/fimgs/I32_622_32_576.x1.png"
          style="width: 101px; min-width: 101px; max-width: 101px; height: 82px; min-height: 82px; max-height: 82px;background-image: url('/fimgs/bg-e2f18f1baef252f2acd8b1bbe01a98abcd929eac');background-size:100% 100%;background-repeat:no-repeat;"
        />
        <div class="text-2xl font-extrabold leading-10 text-center text-white">
          Achieve peace of mind with Wanna Be
        </div>
        <div class="flex items-center justify-start px-8 py-3 bg-orange-500 rounded-md">
          <div class="text-base font-medium leading-normal text-center text-white">
            Get Started
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center justify-start px-24 py-0.5 bg-blue-500">
      <div class="flex flex-col items-center justify-start">
        <img
          src="/fimgs/32_658.x1.png"
          class="flex space-x-2 items-center justify-center p-2.5"
          style="width: 167.46px; min-width: 167.46px; max-width: 167.46px; height: 48px; min-height: 48px; max-height: 48px;"
        />
        <div class="text-sm leading-normal text-white">
          © 2021 Wanna Be. All rights reserved
        </div>
      </div>
    </div>
  </>
</>